@using epam_asp_task.Models
@model Inquirer

@{
    ViewBag.Title = "Inquirer";
}

@using (Html.BeginForm("Inquirer", "Home", FormMethod.Post))
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>@Model.InquirerName</h1>
        </div>
        <div class="panel-body">
            <p>@Html.LabelFor(i => i.InquirerAuthor, "What is your name?")</p>
            <p>@Html.TextBoxFor(i => i.InquirerAuthor, new { @class = "form-control" })</p>

            <p>@Html.LabelFor(i => i.InquirerTextInput, "Where are you from?")</p>
            <p>@Html.TextBoxFor(i => i.InquirerTextInput, new { @class = "form-control" })</p>

            @Html.HiddenFor(i => i.InquirerId)
            @Html.HiddenFor(i => i.InquirerCheckboxes)
            @Html.HiddenFor(i => i.InquirerRadio)
            @Html.HiddenFor(i => i.InquirerName)
        </div>
        <div class="panel-footer">
            <p><button type="submit" class="btn btn-default">Submit Inquirer</button></p>
        </div>
    </div>
}


