@using epam_asp_task.Models
@model Feedback

@using (Html.BeginForm("FeedbackForm", "Feedback", FormMethod.Post))
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>Add Your Feedback</h1>
        </div>
        <div class="panel-body">
            <p>@Html.LabelFor(f => f.Author, "Your name")</p>
            <p>@Html.TextBoxFor(f => f.Author, new { @class = "form-control" })</p>
            <p>@Html.ValidationMessageFor(f => f.Author)</p>

            <p>@Html.LabelFor(f => f.Content, "Feedback content")</p>
            <p>@Html.TextBoxFor(f => f.Content, new { @class = "form-control" })</p>
            <p>@Html.ValidationMessageFor(f => f.Content)</p>

            @Html.HiddenFor(f => f.Id)
            @Html.HiddenFor(f => f.PublicationDate)
        </div>
        <div class="panel-footer">
            <button class="btn btn-default" type="submit">Submit feedback</button>
        </div>
    </div>
}