<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Style.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    @if (TempData["Message"] != null)
    {
        <p class="alert alert-success">@TempData["Message"]</p>
    }
    <header>
        <div class="container-fluid text-center" id="top">

            <h1>Welcome to CoolBlog!</h1>
            <p>You can find a lot of interesting stuff here, including latest articles, compromising feedback and an insanely interesting quiz!</p>
            <img class="img-responsive" src="~/Images/header.jpg" />
        </div>
    </header>

    <main>
        <div class="container-fluid">
            <div class="content-wrapper">
                @RenderBody()
            </div>
            <div class="menu-wrapper">
                <div class="list-group">
                    @Html.ActionLink("Articles", "Index", "Home", new { }, new { @class = "list-group-item" })
                    @Html.ActionLink("Guests", "Feedback", "Feedback", new { }, new { @class = "list-group-item" })
                    @Html.ActionLink("Inquirers", "Inquirer", "Inquirer", new { }, new { @class = "list-group-item" })
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container-fluid text-center">
            <hr />
            <a href="#top">Click me to get to the top!</a>
            <p>CoolBlog - All Rights Reserved 2017</p>
        </div>
    </footer>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>