@model epam_asp_task.Models.Comment

@using (Html.BeginForm("PostComment", "Comment", new { parentId = ViewBag.ParentId, isArticle = ViewBag.IsArticle }, FormMethod.Post))
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>Add Your Comment</h1>
        </div>
        <div class="panel-body">
            <p>@Html.LabelFor(c => c.Author, "Your name")</p>
            <p>@Html.TextBoxFor(c => c.Author, new { @class = "form-control" })</p>
            <p>@Html.ValidationMessageFor(c => c.Author)</p>

            <p>@Html.LabelFor(c => c.Content, "Comment content")</p>
            <p>@Html.TextBoxFor(c => c.Content, new { @class = "form-control" })</p>
            <p>@Html.ValidationMessageFor(c => c.Content)</p>

            @Html.HiddenFor(c => c.Id)
            @Html.HiddenFor(c => c.PublicationDate)
        </div>
        <div class="panel-footer">
            <input type="submit" value="Submit comment" class="btn btn-default" />
        </div>
    </div>
}
