@using epam_asp_task.Models
@model Article

@{
    ViewBag.Title = "Full Article";
    Session["ArticleId"] = Model.Id;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h1>@Model.Name</h1>
    </div>
    <div class="panel-body">
        <p>@Model.Content</p>
        <hr />
        <p>@Model.PublicationDate</p>
        <hr />
        <p>Keywords: @Model.Keywords</p>
        <hr />
        @Ajax.ActionLink("Reply", "CommentForm", "Comment", new { parentId = Model.Id, parentIsArticle = true }, new AjaxOptions { UpdateTargetId = "newComment", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @class = "btn btn-default" })
    </div>
    <div class="panel-footer">
        @if (Model.Comments.Count != 0)
        {
            foreach (Comment comment in Model.Comments)
            {
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h1>@comment.Author</h1>
                    </div>
                    <div class="panel-body">
                        <p>@comment.Content</p>
                        <hr />
                        <p>@comment.PublicationDate</p>
                        <hr />
                        @Ajax.ActionLink("Reply", "CommentForm", "Comment", new { parentId = comment.Id, parentIsArticle = false }, new AjaxOptions { UpdateTargetId = "newComment", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @class = "btn btn-default" })
                    </div>
                    <div class="panel-footer">
                        @if (comment.Comments.Count != 0)
                        {
                            foreach (Comment innerComment in comment.Comments)
                            {
                                <div class="panel panel-danger">
                                    <div class="panel-heading">
                                        <h1>@innerComment.Author</h1>
                                    </div>
                                    <div class="panel-body">
                                        <p>@innerComment.Content</p>
                                        <hr />
                                        <p>@innerComment.PublicationDate</p>
                                        <hr />
                                        @Ajax.ActionLink("Reply", "CommentForm", "Comment", new { parentId = innerComment.Id, parentIsArticle = false }, new AjaxOptions { UpdateTargetId = "newComment", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @class = "btn btn-default" })
                                    </div>
                                    <div class="panel-footer">
                                        <div class="panel-footer">
                                            @if (innerComment.Comments.Count != 0)
                                            {
                                                foreach (Comment finalComment in innerComment.Comments)
                                                {
                                                    <div class="panel panel-primary">
                                                        <div class="panel-heading">
                                                            <h1>@finalComment.Author</h1>
                                                        </div>
                                                        <div class="panel-body">
                                                            <p>@finalComment.Content</p>
                                                            <hr />
                                                            <p>@finalComment.PublicationDate</p>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            }
        }
    </div>
</div>
<div id="newComment">

</div>

